@font-face {
  font-family: "NotoSerifBold";
  src: local("NotoSerifBold"), local("NotoSerifbold"),
    url("../assets/fonts/NotoSerif-Bold.woff") format("woff");
}

@font-face {
  font-family: "Rubik-Bold";
  src: local("Rubik-Bold"), local("Rubik-Bold"),
    url("../assets/fonts/Rubik-Bold.woff") format("woff");
}

@font-face {
  font-family: "Rubik-Light";
  src: local("Rubik-Light"), local("Rubik-Light"),
    url("../assets/fonts/Rubik-Light.woff") format("woff");
}

@font-face {
  font-family: "Rubik-Medium";
  src: local("Rubik-Medium"), local("Rubik-Medium"),
    url("../assets/fonts/Rubik-Medium.woff") format("woff");
}

h1 {
  text-align: center;
  color: #fafaee;
  margin: 0px;
  padding: 5rem;
  font-family: "NotoSerifBold";
  font-weight: bold;
  font-size: 64px;
}

h3 {
  font-family: "Rubik-Medium";
  font-size: 15px;
  color: #fafaee;
  margin: 0;
}

p {
  font-family: "Rubik-Light";
  color: #fafaee;
  margin: 0;
}
